.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 460px;
}
.carousel-caption h2{
    font-size: 40px;
}
.process-list p{
    margin: 5px;
}
.process-list i{
    color: #61D833;
}
.process-list{
    margin-top: 10px;
}